DJANGO_SECRET_KEY=<provided_by_yourself>
JWT_SECRET_KEY=<provided_by_yourself>

# CONNECTION STRING FORMAT: postgresql://[user]:[password]@[host]:[port]/[database_name]
DB_NAME=<provided_by_yourself>
DB_USER=<provided_by_yourself>
DB_PASSWORD=<provided_by_yourself>
DB_HOST=<provided_by_yourself>
DB_PORT=<provided_by_yourself>
DB_CONNECTION_MAX_AGE_SECONDS=<int>

CLOUDINARY_CLOUD_NAME=<provided_by_service>
CLOUDINARY_API_KEY=<provided_by_service>
CLOUDINARY_API_SECRET=<provided_by_service>

RESEND_API_KEY=<provided_by_service>

DEBUG=<bool>
SECURE_SSL_REDIRECT=<bool>

#Domain Name Host of where this API is deployed (comma-separated if applicable)
ALLOWED_HOSTS=
#Full Origin of the frontend (comma-separated if applicable)
TRUSTED_ORIGINS=

COOKIE_DOMAIN=.localhost.test